---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Accordion from '../components/Accordion.astro';
import AccordionItem from '../components/AccordionItem.astro';
import { Image } from 'astro:assets';
import img1 from '../assets/images/colombiando-1.jpg';
import img2 from '../assets/images/colombiando-2.jpg';
import img3 from '../assets/images/colombiando-3.jpg';
import img4 from '../assets/images/colombiando-4.jpg';
import InfoCard from '../components/InfoCard.astro';
import programaLeonor1 from '../assets/images/programa-leonor/programa-leonor-colombiando-1.jpg';
import programaLeonor2 from '../assets/images/programa-leonor/programa-leonor-colombiando-2.jpg';
import programaLeonor3 from '../assets/images/programa-leonor/programa-leonor-colombiando-3.jpg';
import programaLeonor4 from '../assets/images/programa-leonor/programa-leonor-colombiando-4.jpg';
import programaLeonor5 from '../assets/images/programa-leonor/programa-leonor-colombiando-5.jpg';
---

<Layout>
	<section
		class="relative w-full h-[98vh] bg-cover bg-center flex items-end justify-center p-10 pb-20 lg:pb-0"
		style="background-image: url('/src/assets/images/colombiando-diana-sara.jpg');"
	>
  <div class="mx-4 w-full bg-colombiando-yellow rounded-lg p-14 translate-y-16">
    <h1 class="text-3xl md:text-7xl font-semibold text-white">Nuestros Proyectos</h1>
  </div>
	</section> 

  <section class="bg-white py-16 my-10">     
    <div class="max-w-8xl mx-auto px-5 flex flex-col lg:flex-row">
      <div class="border border-[#0060BB] md:border-r-0 flex flex-col justify-center p-20 lg:w-3/5 lg:flex-shrink-0">          
        <h2 class="text-3xl lg:text-4xl font-bold border-b-3 border-[#0060BB] pb-4 mb-4 w-fit">Investigando</h2>
        <p class="text-sm max-w-xl"><span class="font-bold">Si queremos proponer, debemos entender.</span> Por eso, Investigando propone un modelo de investigación - acción participativa. Como profesoras buscamos vivir y comprender lo que realmente sucede dentro del aula rural multigrado y caracterizar estos espacios. Actualmente existe un déficit de información accesible, clara y útil que defina cuáles son los factores habilitantes, barreras, necesidad de docentes y apoyo profesional. Este proceso lo hacemos en tres escalas diferentes.</p>
      </div>
    <Accordion class="lg:w-2/5">
      <AccordionItem title="Comunidad" color="blue">
          <p class="text-sm"><span class="font-bold">Estamos en el territorio.</span> Investigamos acompañando al profesor rural multigrado en toda su jornada escolar. Nos convertimos en profesoras asistentes que realizan un acompañamiento a los estudiantes, apoyan al docente en todo lo que necesite, evaluamos el contexto y analizamos las necesidades. Estamos con la comunidad por periodos de 1-3 meses.</p>
          <div class="gallery flex gap-4 h-[200px] mt-6">
            <div class="gallery-item flex-1 transition-all duration-500 overflow-hidden rounded-xl cursor-pointer">
              <Image src={img1} alt="Colombiando 1" class="object-cover w-full h-full" />
            </div>
            <div class="gallery-item flex-1 transition-all duration-500 overflow-hidden rounded-xl cursor-pointer">
              <Image src={img2} alt="Colombiando 2" class="object-cover w-full h-full" />
            </div>
            <div class="gallery-item flex-1 transition-all duration-500 overflow-hidden rounded-xl cursor-pointer">
                <Image src={img3} alt="Colombiando 3" class="object-cover w-full h-full" />
            </div>
          </div>
      </AccordionItem>

      <AccordionItem title="Datos cuantitativos" color="blue">
        <p class="text-sm"><span class="font-bold">Creemos en los datos.</span> Nos enfocamos en encontrar y analizar información cuantitativa sobre la modalidad rural multigrado en Colombia. Es una modalidad única que merece ser analizada desde sus propios datos y sus metodologías particulares de enseñanza y aprendizaje.</p>
        
        <div class="flex flex-row overflow-x-scroll gap-4 mt-6 pb-4">
          <InfoCard title="30-40 Horas" subtitle="por colegio" description="de tutorías remediables destinadas a construir aprendizajes básicos en lectura y matemática." />
          <InfoCard title="562" subtitle="niños y niñas" description="evaluados antes de empezar las actividades." />
          <InfoCard title="266" subtitle="estudiantes" description="rezagados que están recibiendo las tutorías." />
          <InfoCard title="11" subtitle="grupos" description="organizados según el nivel de aprendizaje de los estudiantes." />
        </div>
      </AccordionItem>

      <AccordionItem title="Evaluación" color="blue">
        <p>Descripción del proyecto Semillero de Educadores...</p>
        <ul class="list-disc pl-5 mt-4">
          <li>Formación de docentes rurales</li>
          <li>Intercambio de experiencias pedagógicas</li>
          <li>Desarrollo de material didáctico</li>
        </ul>
      </AccordionItem>
    </Accordion>
    </div>
    
  </section>
  
  <section class="bg-white py-16 my-10">     
    <div class="max-w-8xl mx-auto px-5 flex flex-col lg:flex-row">
      <div class="border border-[#D00000] md:border-r-0 flex flex-col justify-center p-20 lg:w-3/5 lg:flex-shrink-0">          
        <h2 class="text-3xl lg:text-4xl font-bold border-b-3 border-[#D00000] pb-4 mb-4 w-fit">Co-creando</h2>
        <p class="text-sm max-w-xl"><span class="font-bold">Somos innovadoras.</span> Nos encanta co-crear programas, pilotar y evaluarlos como proceso de investigación. Actualmente estamos en el Cañón del Río Santo Domingo con el programa Leonor y el Semillero de Educadores.</p>
      </div>
    <Accordion class="lg:w-2/5">
      <AccordionItem title="En el cañón" color="red">
        <div class="flex overflow-x-scroll gap-4">
           <!-- Card Programa Leonor -->
           <div class="bg-white border border-black rounded-2xl shadow-[2px_2px_0px_0px_#000000] p-7 max-w-[450px] min-w-[400px] mx-auto relative   overflow-hidden">
             <div class="flex flex-col">
               <h2 class="text-2xl font-bold text-colombiando-red">Programa Leonor</h2>
               <div class="h-0.5 bg-colombiando-red w-full mt-2 mb-6"></div>
               <p class="text-xs"><span class="font-bold">Porque "aprender es un honor"</span>, es la <span class="font-bold">mula educativa</span> de Colombiando que se encarga de conectar las ocho escuelas del cañón mediante el préstamo de libros y juegos una vez al mes en cada escuela. Además,en sus recorridos lidera experiencias que despiertan el interés por aprender.</p>
                <div class="gallery flex gap-4 h-[200px] mt-6 pb-4 overflow-x-scroll">
                  <div class="transition-all duration-500 overflow-hidden cursor-pointer min-w-[250px] border-black rounded-2xl shadow-[2px_2px_0px_0px_#000000]">
                    <Image src={programaLeonor1} alt="Programa Leonor 1" class="object-cover w-full h-full" />
                  </div>
                  <div class="transition-all duration-500 overflow-hidden cursor-pointer min-w-[250px] border-black rounded-2xl shadow-[2px_2px_0px_0px_#000000]">
                    <Image src={programaLeonor2} alt="Programa Leonor 2" class="object-cover w-full h-full" />
                  </div>
                  <div class="transition-all duration-500 overflow-hidden cursor-pointer min-w-[150px] border-black rounded-2xl shadow-[2px_2px_0px_0px_#000000]">
                    <Image src={programaLeonor3} alt="Programa Leonor 3" class="object-cover w-full h-full" />
                  </div>
                  <div class="transition-all duration-500 overflow-hidden cursor-pointer min-w-[250px] border-black rounded-2xl shadow-[2px_2px_0px_0px_#000000]">
                    <Image src={programaLeonor4} alt="Programa Leonor 4" class="object-cover w-full h-full" />
                  </div>
                  <div class="transition-all duration-500 overflow-hidden cursor-pointer min-w-[250px] border-black rounded-2xl shadow  -[2px_2px_0px_0px_#000000]">
                    <Image src={programaLeonor5} alt="Programa Leonor 5" class="object-cover w-full h-full" />
                  </div>
                </div>
              </div>            
            </div>
           <!-- Card Casa de Leonor -->
           <div class="bg-white border border-black rounded-2xl shadow-[2px_2px_0px_0px_#000000] p-7 min-w-[400px] lg:min-w-3xl mx-auto relative   overflow-hidden">
            <div class="flex flex-col">
              <h2 class="text-2xl font-bold text-colombiando-red">Casa de Leonor</h2>
              <div class="h-0.5 bg-colombiando-red w-full mt-2 mb-6"></div>
              <div class="flex flex-col lg:flex-row justify-between gap-4">
                <div class="flex flex-col lg:flex-row gap-2">
                  <span class="text-xs font-medium text-colombiando-red pl-2 border-l-2 border-colombiando-red">HOY</span>
                  <p class="text-xs">Espacio de aprendizaje en la vereda La Palma donde la comunidad puede alquilar juegos, leer libros y participar en talleres.</p>
                </div>
                <div class="flex flex-col lg:flex-row gap-2">
                  <span class="text-xs font-medium text-colombiando-red pl-2 border-l-2 border-colombiando-red">PRÓXIMAMENTE</span>
                  <p class="text-xs">Centro de aprendizaje: proyecto en proceso. Espacio diseñado con la comunidad para ser un punto de encuentro en torno al aprendizaje. Actualmente estamos buscando los recursos para materializarlo.</p>
                </div>
              </div>              
               <div class="gallery flex gap-4 h-[200px] mt-6 pb-4 overflow-x-scroll">
                 <div class="transition-all duration-500 overflow-hidden cursor-pointer min-w-[250px] border-black rounded-2xl shadow-[2px_2px_0px_0px_#000000]">
                   <Image src={programaLeonor1} alt="Programa Leonor 1" class="object-cover w-full h-full" />
                 </div>
                 <div class="transition-all duration-500 overflow-hidden cursor-pointer min-w-[250px] border-black rounded-2xl shadow-[2px_2px_0px_0px_#000000]">
                   <Image src={programaLeonor2} alt="Programa Leonor 2" class="object-cover w-full h-full" />
                 </div>
                 <div class="transition-all duration-500 overflow-hidden cursor-pointer min-w-[150px] border-black rounded-2xl shadow-[2px_2px_0px_0px_#000000]">
                   <Image src={programaLeonor3} alt="Programa Leonor 3" class="object-cover w-full h-full" />
                 </div>
                 <div class="transition-all duration-500 overflow-hidden cursor-pointer min-w-[250px] border-black rounded-2xl shadow-[2px_2px_0px_0px_#000000]">
                   <Image src={programaLeonor4} alt="Programa Leonor 4" class="object-cover w-full h-full" />
                 </div>
                 <div class="transition-all duration-500 overflow-hidden cursor-pointer min-w-[250px] border-black rounded-2xl shadow  -[2px_2px_0px_0px_#000000]">
                   <Image src={programaLeonor5} alt="Programa Leonor 5" class="object-cover w-full h-full" />
                 </div>
               </div>
             </div>            
           </div>            
        </div>
      </AccordionItem>

      <AccordionItem title="Boletiando" color="red">
        <p class="text-sm"><span class="font-bold">Creemos en los datos.</span> Nos enfocamos en encontrar y analizar información cuantitativa sobre la modalidad rural multigrado en Colombia. Es una modalidad única que merece ser analizada desde sus propios datos y sus metodologías particulares de enseñanza y aprendizaje.</p>
        
        <div class="flex flex-row overflow-x-scroll gap-4 mt-6 pb-4">
          <InfoCard title="30-40 Horas" subtitle="por colegio" description="de tutorías remediables destinadas a construir aprendizajes básicos en lectura y matemática." />
          <InfoCard title="562" subtitle="niños y niñas" description="evaluados antes de empezar las actividades." />
          <InfoCard title="266" subtitle="estudiantes" description="rezagados que están recibiendo las tutorías." />
          <InfoCard title="11" subtitle="grupos" description="organizados según el nivel de aprendizaje de los estudiantes." />
        </div>
      </AccordionItem>

      <AccordionItem title="Semillero de Educadores" color="red">
        <p>Descripción del proyecto Semillero de Educadores...</p>
        <ul class="list-disc pl-5 mt-4">
          <li>Formación de docentes rurales</li>
          <li>Intercambio de experiencias pedagógicas</li>
          <li>Desarrollo de material didáctico</li>
        </ul>
      </AccordionItem>
    </Accordion>
    </div>
    
  </section>

  <Footer />
</Layout> 

<style scoped>
  .gallery:hover .gallery-item {
    flex: 1;
  }
  .gallery-item:hover {
    flex: 2.5 !important;
    z-index: 10;
  }
  </style>          